* {
  font-family: monospace;
  background-color: skyblue;
}

body {
  
}

table {
  border: 2px solid;
  border-color: blue;
  max-width: 650px;
  min-width: 400px;
}

td {
  border-top: 1px solid green;
  padding: 10px;
}
